$primary: #3dc1d3;
$lightPrimary: #63cdda;

$flagged: #f7d794;
$textColors: (
        1: #cf6a87,
        2: #546de5,
        3: darken(#3dc1d3, 15%),
        4: #e15f41,
        5: #303952,
        6: darken(#f5cd79, 10%),
        7: #574b90,
        8: #f78fb3,
        9: #e66767,
)