@import "src/styles/colors";

.statsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 10px;

    .icon {
        margin-right: 8px;
    }

    .minesStatus {
        font-size: 18px;
        font-weight: bold;
        color: $primaryTextColor;
    }

    .elapsedTime {
        font-size: 18px;
        font-weight: bold;
        color: $primaryTextColor;
    }
}