@import "src/styles/colors";

.gameOverWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 8px;

    .tryAgainButton {
        padding: 12px 36px;
        margin-top: 16px;
        outline: none;
        border: none;
        border-radius: 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        background-color: darken($primary, 10%);
        color: #fff;
        cursor: pointer;
        transition: background-color .2s ease-in;

        .syncIcon {
            margin-right: 12px;
        }

        &:hover {
            background-color: darken($primary, 5%);
        }
    }
}